@layout MainLayoutBusinessPartners
@page "/BusinessPartners/AllBusinessPartners"

@inject IJSRuntime JSRuntime


<div class="row">
    <div class="col-md-12">
        <div class="main-card card" style="width:100%;">
            <div class="card-body">
                <h5 class="card-title">Table sizing</h5>
                <table class="mb-0 table table-sm table-striped table-hover" style="width:100%;" id="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>



@code {

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeAsync<object>("TestDataTablesAdd", "#table");
    }

}
