@inherits LayoutComponentBase
@inject IJSRuntime js


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Legatus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Help">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/About">About</a>
            </li>
        </ul>
    </div>
</nav>
<div class="bg_menu">
    <main class="page-content pt-2">
        <div id="overlay" class="overlay"></div>
        <div class="container-fluid p-5">
            @Body
        </div>
    </main>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool first_render)
    {
        //init the sidebar js
        if (first_render)
            await js.InvokeAsync<string>("init");
    }
}