@layout MainLayoutMenu
@page "/"
@page "/Menu"


<br />
<br />
<br />

<div class="row row_80_percent">
    <div class="col-md-4">
        <a href="/BusinessPartners/Dashboard" class="menu_link">
            <div class="menu_item">
                <div class="menu_item_title">
                    business partners
                </div>
                <center>
                    <br />
                    <img src="/assets.main_menu/img/business_partners.png" class="menu_icon" />
                </center>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <div class="menu_item">
            <div class="menu_item_title">
                payroll
            </div>
            <center>
                <br />
                <img src="/assets.main_menu/img/money.png" class="menu_icon" />
            </center>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu_item">
            <div class="menu_item_title">
                fleet management
            </div>
            <center>
                <br />
                <img src="/assets.main_menu/img/truck.png" class="menu_icon" />
            </center>
        </div>
    </div>
</div>

<div class="row row_80_percent">
    <div class="col-md-4">
        <div class="menu_item">
            <div class="menu_item_title">
                users
            </div>
            <center>
                <br />
                <img src="/assets.main_menu/img/users.png" class="menu_icon" />
            </center>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu_item">
            <div class="menu_item_title">
                pos
            </div>
            <center>
                <br />
                <img src="/assets.main_menu/img/pos.png" class="menu_icon" />
            </center>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu_item">
            <div class="menu_item_title">
                tos
            </div>
            <center>
                <br />
                <img src="/assets.main_menu/img/tos.png" class="menu_icon" />
            </center>
        </div>
    </div>
</div>


@code {

}
