@layout MainLayoutMenu
@page "/Help"


<br />

<div class="row row_80_percent">
    <div class="col-md-4">
       <h1> this is the help page
        
        </h1>
    </div>
   
</div>



@code {

}
