<div class="sidebar-item sidebar-search">
    <div>
        <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string search_context { get; set; }//searhc context is what context we are searching in
    //are we in users etc?
}
